C:\Users\AKASH\Desktop\Learning_Documents\GITHUB\Terraform_Realtime\Self-creation\.terraform
C:\Users\AKASH\Desktop\Learning_Documents\GITHUB\Terraform_Realtime\Self-creation\terraform.tfstate
C:\Users\AKASH\Desktop\Learning_Documents\GITHUB\Terraform_Realtime\Self-creation\terraform.tfstate.backup
C:\Users\AKASH\Desktop\Learning_Documents\GITHUB\Terraform_Realtime\Self-creation\.terraform.lock.hcl
